@import url("reset.css");

body {
	background: url('images/back.jpg') 0% 0%;
	/* background: radial-gradient( circle farthest-corner at 0.8% 3.1%,  rgba(255,188,224,1) 0%, rgba(170,165,255,1) 46%, rgba(165,255,205,1) 100.2% ); */
	line-height: 1.5;
    font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: white;
}


*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-wrap: wrap;
	max-width: calc(760px + 244px);
	width: 100%;

	margin: 0 auto;
	margin-top: 20px;
}

.--container-blur {
	filter: blur(3px);
}



.header {
	display: block;
	max-width: calc(100% - 244px);
	width: 100%;
	font-size: 64px;
	text-transform: uppercase;
	font-weight: 600;

	text-align: center;
	margin-bottom: 20px;
}

.memory-game {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	max-width: 760px;
	width: 100%;
	height: 718px;

	background-color: #fff;
	border-radius: 12px;

	padding: 20px;
	perspective: 1000px;

	position: relative;
	z-index: 1;
}

.memory-game__lose-text {
	display: none;
	
	position: absolute;

	z-index: 1000;

	font-size: 36px;
	color: red;
	font-weight: 600;
	text-transform: uppercase;
}

.memory-card {
	display: block;
	width: 140px;
	height: 186px;

	margin: 20px;

	background-color: #9C9BEA;
	border-radius: 8px;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
	
	position: relative;
	transform: scale(1);
  	transform-style: preserve-3d;
	border: 4px solid rgba(144, 221, 144, 0);
  	transition: all .5s linear;
}



.memory-card:active {
	transition: transform 0.2s linear;
	transform: scale(0.97);
}

.memory-card.flip {
	transform: rotateY(180deg);
}

.memory-card__front-face,
.memory-card__back-face {
	width: 100%;
	height: 100%;
	padding: 66px 55px;
	position: absolute;
	backface-visibility: hidden;
}

.memory-card__back-face {
	padding: 26px 3px;
	/* padding: 36px 13px; */
	transform: rotateY(180deg);
}

.--memory-card__show {
	display: block;
}

.--memory-card__hide {
	display: none;
}

.mods {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 98px;

	height: 718px;
}

.mods__header {
	font-size: 28px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}

.mods__btn {
	display: block;
	width: 146px;
	height: 54px;
	margin: 10px 0;

	border: none;
	border-radius: 12px;

	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: 500;

	box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.15);
}

.--btn__hp {
	background-color: #F44336;
}

.--btn__danlepe {
	background-color: #5C7279;
}

.--btn__default {
	background-color: #8B6CB1;
}

.mods__btn-reload {
	display: block;
	width: 55px;
	height: 55px;
	margin-top: 30px;

	background-color: #73C973;
	border-radius: 12px;
	border: none;
	position: relative;

	box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.15);

	
}

.mods__btn-reload:active {
	transform: scale(0.93);
	transition: transform 0.2 ease-in-out; 
}

.btn-reload__img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 11px;
}

.mods__btn:active {
	transform: scale(0.93);
	transition: transform 0.2 ease-in-out;
}

.hp {
	display: flex;
	justify-content: flex-start;
	max-width: 760px;
	width: 100%;

	padding: 25px 266px;
}

.hp__icon {
	margin-right: 20px;
	opacity: 0;
	transition: all 0.5s;
}

.--hp__icon-up {
	transition: transform 0.2s ease-in-out;
	transform: translateY(-10px);
}

.--hp__icon-down {
	transition: transform 0.2s ease-in-out;
	transform: translateY(10px);
}
/* адаптив */
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	body {
		background: radial-gradient( circle farthest-corner at 0.8% 3.1%,  rgba(255,188,224,1) 0%, rgba(170,165,255,1) 46%, rgba(165,255,205,1) 100.2% );
	}
	.container {
		max-width: 800px;
		align-items: flex-start;
	}

	.header {
		max-width: 800px;
	}
	.mods__header  {
		margin-top: 15px;
	}

	.mods {
		width: 760px;
		height: 70px;
		flex-direction: row;

		justify-content: space-between;
		align-items: flex-start;
		margin-left: 0;
		margin-top: 20px;
	}

	.mods__btn-reload {
		margin-top: 10px;
	}

	.hp {
		margin-bottom: auto;
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 700px;
		align-items: flex-start;
	}
	.memory-game {
		height: 960px;
	}

	.hp {
		padding: 25px 220px;
	}
}
@media (max-width: 650px) {
	.container {
		max-width: 600px;

	}

	.mods__btn {
		width: 126px;
		height: 44px;
		font-size: 18px;
	}

	.hp {
		padding: 25px 180px;
	}
}
@media (max-width: 600px) {
	.container {
		max-width: 400px;

	}

	.header {
		font-size: 42px;
	}

	.memory-game {
		height: 1400px;
	}

	.mods {
		width: 400px;
		height: 70px;
		flex-direction: row;

		justify-content: space-between;
		align-items: flex-start;
		margin-left: 0;
		margin-top: 20px;
	}

	.hp {
		padding: 25px 80px;
	}

	.mods__header {
		font-size: 20px;
	}

	.mods__btn {
		width: 80px;
		height: 38px;
		font-size: 12px;
	}

	.mods__btn-reload {
		height: 38px;
	}

	.hp__icon {
		height: 26px;
		width: 26px;
	}

}

@media (max-width: 400px) {
	.container {
		max-width: 360px;
	}
	
	.memory-card {
		width: 110px;
		height: 156px;
	}

	.mods {
		width: 400px;
		height: 70px;
		flex-direction: row;

		justify-content: space-between;
		align-items: flex-start;
		margin-left: 0;
		margin-top: 20px;
	}

	.mods__btn {
		width: 60px;
		height: 38px;
		font-size: 12px;
	}

	.--btn__danlepe {
		font-size: 0;
	}

	.--btn__danlepe::after {
		content: "DLPE";
		font-size: 12px;
	}

	.--btn__default {
		font-size: 0;
	}

	.--btn__default::after {
		content: "DEF";
		font-size: 12px;
	}

	.hp {
		padding: 15px 80px;
	}
}

@media (max-width: 375px) {
	.container {
		max-width: 340px;
	}
	.hp {
		padding: 15px 65px;
	}
}

